<h2>Eventos</h2> 
<hr>
<form action="" class="form-inline">
    <div class="row">
        <div class="col-4">
            <input type="text" class="form-control" placeholder="Buscar">
        </div>
        <div class="col-4">
            <button class="btn btn-outline-success">Buscar</button>
        </div>
    </div>
</form>

<h2 style="margin-top: 15px; margin-bottom: 15px;">Encontrados: </h2>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Image</th>
            <th>Tema</th>
            <th>Local</th>
            <th>Data</th>
            <th>Qtd Pessoas</th>
            <th>Lote</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>

</table>

<div *ngFor="let evento of eventos">
    <p> <b>Tema: </b> {{evento.id}}</p>
    <p> <b>Local: </b> {{evento.nome}}</p>
    <hr>
</div>
  


